In [ ]:
!pip install -q tabula-py

     |████████████████████████████████| 12.0 MB 5.2 MB/s

In [ ]:
import tabula
import pandas as pd
import numpy as np
import re
#import camelot

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)
path = "/content/drive/MyDrive/Stears Data/Full-list-of-members-of-the-8th-reps.pdf"

Mounted at /content/drive

In [ ]:
df = tabula.read_pdf(path, pages= '1-11',pandas_options={'header':None}, lattice = False)

In [ ]:
df2 = df.copy()

In [ ]:
cols = df2[0].values.tolist()[0]
print(cols)

['S/N', 'NAMES', 'AGE', 'GENDER', 'PARTY', 'STATE', nan, 'CONSTITUENCY']

In [ ]:
df2[0] = df2[0].iloc[1:]
df2[-1] = df2[-1].iloc[1:]
df2 = pd.concat(df2)
df2.columns = cols

In [ ]:
df2.head()

,S/N,NAMES,AGE,GENDER,PARTY,STATE,NaN,CONSTITUENCY
1,*1,Hon.\t\r Ossy\t\r Prestige\t\r Chinedu\t\r ...,51,Male,APGA,Abia,Abia\t\r North/South,NaN
2,*2,Hon.\t\r Nkole\t\r Uko\t\r Ndukwe,40,Male,PDP,Abia,Arochukwu/Ohafia,NaN
3,3,Hon.\t\r Nnenna\t\r Ijeoma\t\r Elendu\t\r ...,46,Female,PDP,Abia,Bende,NaN
4,*4,Hon.\t\r Darlington\t\r Nwokocha,49,Male,PDP,Abia,IsialangwaNorth/South,NaN
5,5,Hon.\t\r Onyejeocha\t\r Nkiruka,46,Female,PDP,Abia,Isuikwuato/Umunneochi,NaN

In [ ]:
df2.tail()

,S/N,NAMES,AGE,GENDER,PARTY,STATE,NaN,CONSTITUENCY
31,354,Hon.\t\r Hassan\t\r Lawali\t\r Anka,47.0,Male,APC,Zamfara,Anka/Talata/Mafara,NaN
32,*355,Hon.\t\r Abdumalik\t\r Zubairu\t\r Bungudu,37.0,Male,APC,Zamfara,Bungudu/Maru,NaN
33,356,Hon.\t\r Lawal\t\r Mu'azu,56.0,Male,APC,Zamfara,Gummi/Bukkuyum,NaN
34,*357,Hon.\t\r Yahaya\t\r Chado\t\r Gora,60.0,Male,APC,Zamfara,Bakura/\t\r Maradun,NaN
35,*358,Hon.\t\r Aminu\t\r Sani\t\r Jaji,42.0,Male,APC,Zamfara,Kaura-­‐Namoda/Birnin-­‐Magaji,NaN

In [ ]:
eighth_assembly = df2.copy()

In [ ]:
eighth_assembly.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 393 entries, 1 to 35
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   S/N           357 non-null    object
 1   NAMES         357 non-null    object
 2   AGE           357 non-null    object
 3   GENDER        357 non-null    object
 4   PARTY         357 non-null    object
 5   STATE         357 non-null    object
 6   nan           358 non-null    object
 7   CONSTITUENCY  0 non-null      object
dtypes: object(8)
memory usage: 27.6+ KB

In [ ]:
eighth_assembly.replace(to_replace=[r"\\t|\\n|\\r", "\t|\n|\r"], value=[" "," "], regex=True, inplace=True)

In [ ]:
eighth_assembly.head()

,S/N,NAMES,AGE,GENDER,PARTY,STATE,NaN,CONSTITUENCY
1,*1,Hon. Ossy Prestige Chinedu Ehiriod...,51,Male,APGA,Abia,Abia North/South,NaN
2,*2,Hon. Nkole Uko Ndukwe,40,Male,PDP,Abia,Arochukwu/Ohafia,NaN
3,3,Hon. Nnenna Ijeoma Elendu Ukeje,46,Female,PDP,Abia,Bende,NaN
4,*4,Hon. Darlington Nwokocha,49,Male,PDP,Abia,IsialangwaNorth/South,NaN
5,5,Hon. Onyejeocha Nkiruka,46,Female,PDP,Abia,Isuikwuato/Umunneochi,NaN

In [ ]:
eighth_assembly.STATE.unique()

array(['Abia', nan, 'Adamawa', 'Akwa-\xad‐Ibom', 'Anambra', 'Bauchi',
       'Bayelsa', 'Benue', 'Borno', 'Cross    River', 'Delta', 'Ebonyi',
       'Edo', 'Ekiti', 'Enugu', 'FCT', 'Gombe', 'Imo', 'Jigawa', 'Kaduna',
       'Kano', 'Katsina', 'Kebbi', 'Kogi', 'Kwara', 'Lagos', 'Nasarawa',
       'Niger', 'Ogun', 'Ondo', 'Osun', 'Oyo', 'Plateau', 'Rivers',
       'Sokoto', 'Taraba', 'Yobe', 'Zamfara'], dtype=object)

In [ ]:
eighth_assembly.STATE.nunique()

37

In [ ]:
eighth_assembly_2 = eighth_assembly[eighth_assembly['STATE'].str.contains("STATE") == False]

In [ ]:
print(eighth_assembly_2.duplicated().sum())

0

In [ ]:
eighth_assembly_2.tail(5)

,S/N,NAMES,AGE,GENDER,PARTY,STATE,NaN,CONSTITUENCY
31,354,Hon. Hassan Lawali Anka,47.0,Male,APC,Zamfara,Anka/Talata/Mafara,NaN
32,*355,Hon. Abdumalik Zubairu Bungudu,37.0,Male,APC,Zamfara,Bungudu/Maru,NaN
33,356,Hon. Lawal Mu'azu,56.0,Male,APC,Zamfara,Gummi/Bukkuyum,NaN
34,*357,Hon. Yahaya Chado Gora,60.0,Male,APC,Zamfara,Bakura/ Maradun,NaN
35,*358,Hon. Aminu Sani Jaji,42.0,Male,APC,Zamfara,Kaura-­‐Namoda/Birnin-­‐Magaji,NaN

In [ ]:
eighth_assembly_2.to_csv("eighth_assembly_3.csv",index= False, header= True)