In [ ]:
import tabula
import pandas as pd
import numpy as np
import re
import camelot

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
#path = "/content/drive/MyDrive/Stears Data/Final-List-of-Candidates-for-National-Elections_SHA-14.pdf"
source = 'https://inecnigeria.org/list-of-candidates-for-2023-elections/'

In [ ]:
df = tabula.read_pdf(path, pages= '99-893',pandas_options={'header':None}, lattice = True)

In [ ]:
df2 = df.copy()

In [ ]:
cols = df2[0].values.tolist()[0]
print(cols)

['S/N', 'STATE', 'CONSTITUENCY', 'PARTY', 'POSITION', 'CANDIDATE_NAME', 'PWD', 'AGE', 'GENDER', 'QUALIFICATIONS', 'REMARKS']

In [ ]:
df2[0] = df2[0].iloc[1:]
df2[-1] = df2[-1].iloc[1:]
df2 = pd.concat(df2)
df2.columns = cols

In [ ]:
df2.head()

,S/N,STATE,CONSTITUENCY,PARTY,POSITION,CANDIDATE_NAME,PWD,AGE,GENDER,QUALIFICATIONS,REMARKS
1,1,ABIA,ABA SOUTH,A,State House\rof Assembly,EBERE SMART\rONUABUCHI,None,62,M,FSLC WAEC,NaN
2,2,ABIA,UKWA EAST,A,State House\rof Assembly,IHUTE PETER\rCHUKWUEMEKA,None,53,M,FSLC,NaN
3,3,ABIA,IKWUANO,A,State House\rof Assembly,OJI ERICO OKECHUKWU,None,52,M,FSLC SSC,NaN
4,4,ABIA,OSISIOMA NORTH,A,State House\rof Assembly,ENYINNAH INNOCENT\rCHINTUA,None,64,M,FSLC WAEC,NaN
5,5,ABIA,OSISIOMA SOUTH,A,State House\rof Assembly,NWANKPA JOHN\rCHIJINDU,None,38,M,FSLC WAEC,NaN

In [ ]:
df2.tail()

,S/N,STATE,CONSTITUENCY,PARTY,POSITION,CANDIDATE_NAME,PWD,AGE,GENDER,QUALIFICATIONS,REMARKS
9,10227,ZAMFARA,GUMMI I,YPP,State House\rof Assembly,S/GARI BELLO,None,35,M,FSLC NECO NCE,NaN
10,10228,ZAMFARA,TSAFE WEST,YPP,State House\rof Assembly,SHAFIA HASSAN,None,34,M,FSLC WAEC,NaN
11,10229,ZAMFARA,BAKURA,YPP,State House\rof Assembly,YUSUF SALISU,None,25,M,FSLC SSCE,NaN
12,10230,ZAMFARA,GUSAU WEST,ZLP,State House\rof Assembly,ALIYU IBRAHIM GUSAU,None,30,M,NECO,NaN
13,10231,ZAMFARA,BUKKUYUM SOUTH,ZLP,State House\rof Assembly,LAWAL BASHIR MASAMA,None,28,M,NECO,NaN

In [ ]:
state_house = df2.copy()

In [ ]:
state_house.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11045 entries, 1 to 13
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   S/N             10999 non-null  object
 1   STATE           10251 non-null  object
 2   CONSTITUENCY    10251 non-null  object
 3   PARTY           10251 non-null  object
 4   POSITION        10251 non-null  object
 5   CANDIDATE_NAME  10225 non-null  object
 6   PWD             10207 non-null  object
 7   AGE             10207 non-null  object
 8   GENDER          10207 non-null  object
 9   QUALIFICATIONS  9813 non-null   object
 10  REMARKS         103 non-null    object
dtypes: object(11)
memory usage: 1.0+ MB

In [ ]:
state_house.replace(to_replace=[r"\\t|\\n|\\r", "\t|\n|\r"], value=[" "," "], regex=True, inplace=True)

In [ ]:
state_house.rename(columns = {'candidate_name':'name of candidate'}, inplace = True)

In [ ]:
state_house.head()

,S/N,STATE,CONSTITUENCY,PARTY,POSITION,CANDIDATE_NAME,PWD,AGE,GENDER,QUALIFICATIONS,REMARKS
1,1,ABIA,ABA SOUTH,A,State House of Assembly,EBERE SMART ONUABUCHI,None,62,M,FSLC WAEC,NaN
2,2,ABIA,UKWA EAST,A,State House of Assembly,IHUTE PETER CHUKWUEMEKA,None,53,M,FSLC,NaN
3,3,ABIA,IKWUANO,A,State House of Assembly,OJI ERICO OKECHUKWU,None,52,M,FSLC SSC,NaN
4,4,ABIA,OSISIOMA NORTH,A,State House of Assembly,ENYINNAH INNOCENT CHINTUA,None,64,M,FSLC WAEC,NaN
5,5,ABIA,OSISIOMA SOUTH,A,State House of Assembly,NWANKPA JOHN CHIJINDU,None,38,M,FSLC WAEC,NaN

In [ ]:
state_house.columns = state_house.columns.str.lower()

In [ ]:
state_house.head()

,s/n,state,constituency,party,position,candidate_name,pwd,age,gender,qualifications,remarks
1,1,ABIA,ABA SOUTH,A,State House of Assembly,EBERE SMART ONUABUCHI,None,62,M,FSLC WAEC,NaN
2,2,ABIA,UKWA EAST,A,State House of Assembly,IHUTE PETER CHUKWUEMEKA,None,53,M,FSLC,NaN
3,3,ABIA,IKWUANO,A,State House of Assembly,OJI ERICO OKECHUKWU,None,52,M,FSLC SSC,NaN
4,4,ABIA,OSISIOMA NORTH,A,State House of Assembly,ENYINNAH INNOCENT CHINTUA,None,64,M,FSLC WAEC,NaN
5,5,ABIA,OSISIOMA SOUTH,A,State House of Assembly,NWANKPA JOHN CHIJINDU,None,38,M,FSLC WAEC,NaN

In [ ]:
state_house.rename(columns = {'candidate_name':'name of candidate'}, inplace = True)

In [ ]:
state_house.head()

,s/n,state,constituency,party,position,name of candidate,pwd,age,gender,qualifications,remarks
1,1,ABIA,ABA SOUTH,A,State House of Assembly,EBERE SMART ONUABUCHI,None,62,M,FSLC WAEC,NaN
2,2,ABIA,UKWA EAST,A,State House of Assembly,IHUTE PETER CHUKWUEMEKA,None,53,M,FSLC,NaN
3,3,ABIA,IKWUANO,A,State House of Assembly,OJI ERICO OKECHUKWU,None,52,M,FSLC SSC,NaN
4,4,ABIA,OSISIOMA NORTH,A,State House of Assembly,ENYINNAH INNOCENT CHINTUA,None,64,M,FSLC WAEC,NaN
5,5,ABIA,OSISIOMA SOUTH,A,State House of Assembly,NWANKPA JOHN CHIJINDU,None,38,M,FSLC WAEC,NaN

In [ ]:
state_house.state.unique()

array(['ABIA', nan, 'STATE', 'ADAMAWA', 'AKWA IBOM', 'ANAMBRA', 'BAUCHI',
       'BAYELSA', 'BENUE', 'BORNO', 'CROSS River', 'DELTA', 'EBONYI',
       'EDO', 'EKITI', 'ENUGU', 'GOMBE', 'IMO', 'JIGAWA', 'KADUNA',
       'KANO', 'KATSINA', 'KEBBI', 'KOGI', 'KWARA', 'LAGOS', 'NASARAWA',
       'NIGER', 'OGUN', 'ONDO', 'OSUN', 'OYO', 'PLATEAU', 'RIVERS',
       'SOKOTO', 'TARABA', 'YOBE', 'ZAMFARA'], dtype=object)

In [ ]:
state_house.state.nunique()

37

In [ ]:
s =  state_house[state_house['state']=='STATE']
s.shape

(34, 11)

In [ ]:
state_house2 = state_house[state_house['state'].str.contains("STATE") == False]

In [ ]:
state_house2.state.nunique()

36

In [ ]:
print(state_house2.duplicated().sum())

0

In [ ]:
state_house2.tail(5)

,s/n,state,constituency,party,position,name of candidate,pwd,age,gender,qualifications,remarks
9,10227,ZAMFARA,GUMMI I,YPP,State House of Assembly,S/GARI BELLO,None,35,M,FSLC NECO NCE,NaN
10,10228,ZAMFARA,TSAFE WEST,YPP,State House of Assembly,SHAFIA HASSAN,None,34,M,FSLC WAEC,NaN
11,10229,ZAMFARA,BAKURA,YPP,State House of Assembly,YUSUF SALISU,None,25,M,FSLC SSCE,NaN
12,10230,ZAMFARA,GUSAU WEST,ZLP,State House of Assembly,ALIYU IBRAHIM GUSAU,None,30,M,NECO,NaN
13,10231,ZAMFARA,BUKKUYUM SOUTH,ZLP,State House of Assembly,LAWAL BASHIR MASAMA,None,28,M,NECO,NaN

In [ ]:
states = ["Abia",
  "Adamawa",
  "Akwa Ibom",
  "Anambra",
  "Bauchi",
  "Bayelsa",
  "Benue",
  "Borno",
  "Cross River",
  "Delta",
  "Ebonyi",
  "Edo",
  "Ekiti",
  "Enugu",
  "FCT - Abuja",
  "Gombe",
  "Imo",
  "Jigawa",
  "Kaduna",
  "Kano",
  "Katsina",
  "Kebbi",
  "Kogi",
  "Kwara",
  "Lagos",
  "Nasarawa",
  "Niger",
  "Ogun",
  "Ondo",
  "Osun",
  "Oyo",
  "Plateau",
  "Rivers",
  "Sokoto",
  "Taraba",
  "Yobe",
  "Zamfara"
]

In [ ]:
states = [state.upper() for state in states]
print(states)

['ABIA', 'ADAMAWA', 'AKWA IBOM', 'ANAMBRA', 'BAUCHI', 'BAYELSA', 'BENUE', 'BORNO', 'CROSS RIVER', 'DELTA', 'EBONYI', 'EDO', 'EKITI', 'ENUGU', 'FCT - ABUJA', 'GOMBE', 'IMO', 'JIGAWA', 'KADUNA', 'KANO', 'KATSINA', 'KEBBI', 'KOGI', 'KWARA', 'LAGOS', 'NASARAWA', 'NIGER', 'OGUN', 'ONDO', 'OSUN', 'OYO', 'PLATEAU', 'RIVERS', 'SOKOTO', 'TARABA', 'YOBE', 'ZAMFARA']

In [ ]:
states_in_nigeria = (state_house2['state'].isin(states)) | (state_house2['state']=='CROSS River')

In [ ]:
state_house3 = state_house2[states_in_nigeria]
not_state_house = state_house2[~states_in_nigeria]

In [ ]:
state_house3.state.unique()

array(['ABIA', 'ADAMAWA', 'AKWA IBOM', 'ANAMBRA', 'BAUCHI', 'BAYELSA',
       'BENUE', 'BORNO', 'CROSS River', 'DELTA', 'EBONYI', 'EDO', 'EKITI',
       'ENUGU', 'GOMBE', 'IMO', 'JIGAWA', 'KADUNA', 'KANO', 'KATSINA',
       'KEBBI', 'KOGI', 'KWARA', 'LAGOS', 'NASARAWA', 'NIGER', 'OGUN',
       'ONDO', 'OSUN', 'OYO', 'PLATEAU', 'RIVERS', 'SOKOTO', 'TARABA',
       'YOBE', 'ZAMFARA'], dtype=object)

In [ ]:
state_house3.constituency.nunique()

993

In [ ]:
state_house3.state.nunique()

36

In [ ]:
state_house3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10217 entries, 1 to 13
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   s/n                10206 non-null  object
 1   state              10217 non-null  object
 2   constituency       10217 non-null  object
 3   party              10217 non-null  object
 4   position           10217 non-null  object
 5   name of candidate  10191 non-null  object
 6   pwd                10173 non-null  object
 7   age                10173 non-null  object
 8   gender             10173 non-null  object
 9   qualifications     9779 non-null   object
 10  remarks            69 non-null     object
dtypes: object(11)
memory usage: 957.8+ KB

In [ ]:
state_house3.tail()

,s/n,state,constituency,party,position,name of candidate,pwd,age,gender,qualifications,remarks
9,10227,ZAMFARA,GUMMI I,YPP,State House of Assembly,S/GARI BELLO,None,35,M,FSLC NECO NCE,NaN
10,10228,ZAMFARA,TSAFE WEST,YPP,State House of Assembly,SHAFIA HASSAN,None,34,M,FSLC WAEC,NaN
11,10229,ZAMFARA,BAKURA,YPP,State House of Assembly,YUSUF SALISU,None,25,M,FSLC SSCE,NaN
12,10230,ZAMFARA,GUSAU WEST,ZLP,State House of Assembly,ALIYU IBRAHIM GUSAU,None,30,M,NECO,NaN
13,10231,ZAMFARA,BUKKUYUM SOUTH,ZLP,State House of Assembly,LAWAL BASHIR MASAMA,None,28,M,NECO,NaN

In [ ]:
state_house4 = state_house3[state_house3['constituency'].str.contains("CONSTITUENCY") == False]

In [ ]:
state_house4.isna().sum()

s/n                     11
state                    0
constituency             0
party                    0
position                 0
name of candidate       26
pwd                     44
age                     44
gender                  44
qualifications         438
remarks              10148
dtype: int64

In [ ]:
state_house4['age'] = state_house4['age'].fillna(0).astype('int64')

In [ ]:
state_house4.describe()

                age
count  10217.000000
mean      40.665949
std       16.826702
min        0.000000
25%       33.000000
50%       39.000000
75%       47.000000
max     1035.000000

In [ ]:
state_house4.dtypes

s/n                  object
state                object
constituency         object
party                object
position             object
name of candidate    object
pwd                  object
age                   int64
gender               object
qualifications       object
remarks              object
dtype: object

In [ ]:
state_house4['source'] = source

In [ ]:
state_house4.replace(to_replace=["M", "F"],
           value=["male", "female"], inplace = True)

In [ ]:
state_house4.tail()

,s/n,state,constituency,party,position,name of candidate,pwd,age,gender,qualifications,remarks,source
9,10227,ZAMFARA,GUMMI I,YPP,State House of Assembly,S/GARI BELLO,None,35,male,FSLC NECO NCE,NaN,https://inecnigeria.org/list-of-candidates-for...
10,10228,ZAMFARA,TSAFE WEST,YPP,State House of Assembly,SHAFIA HASSAN,None,34,male,FSLC WAEC,NaN,https://inecnigeria.org/list-of-candidates-for...
11,10229,ZAMFARA,BAKURA,YPP,State House of Assembly,YUSUF SALISU,None,25,male,FSLC SSCE,NaN,https://inecnigeria.org/list-of-candidates-for...
12,10230,ZAMFARA,GUSAU WEST,ZLP,State House of Assembly,ALIYU IBRAHIM GUSAU,None,30,male,NECO,NaN,https://inecnigeria.org/list-of-candidates-for...
13,10231,ZAMFARA,BUKKUYUM SOUTH,ZLP,State House of Assembly,LAWAL BASHIR MASAMA,None,28,male,NECO,NaN,https://inecnigeria.org/list-of-candidates-for...

In [ ]:
state_house4.shape

(10217, 12)

In [ ]:
state_house4.to_csv("state_house.csv",index= False, header= True)

In [ ]:
state_house5 = state_house4.copy()

In [ ]:
state_house5['state'] = state_house5['state'].str.title()

In [ ]:
state_house5['constituency'] = state_house5['constituency'].str.title()
state_house5['name of candidate'] = state_house5['name of candidate'].str.title()
state_house5['gender'] = state_house5['gender'].str.title()

In [ ]:
state_house5.to_csv("state_house2.csv",index= False, header= True)